body{
  font-family: "Inter", sans-serif;
}
form {
  border: 10px solid rgb(250, 156, 33);
  background-color: rgb(255, 203, 135);
  padding: 20px;
  margin-bottom: 20px;
  margin-left:5%;
  margin-right:5%;
  width: 60%;
  display: inline-block;
}


.formField {
  
  margin-top: 12px;
  margin-bottom: 12px;
}

.formField input {
  width: 50%;
  padding: 10px;
  font-size: 1.2em;
}


