

.recipes-card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

h3{
  text-align: center;
}

img{
  width: 400px;
  height: 400px;
}

p{
  font-size: 24px;
  text-align: center;
}

.filter-buttons {

    border: 4px solid #ddd;
    border-radius: 8px;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.difficulty-nav{
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  img {
    max-width: 100%; 
    height: auto; 
  }
}

@media screen and (min-width: 768px) {
  img {
    max-width: 100%; 
    height: auto; 
  }
}