form {
  border: 10px solid rgb(250, 156, 33);
  background-color: rgb(255, 203, 135);
  padding: 20px;
  margin-bottom: 20px;
}

.recipes-card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

h3{
  text-align: center;
}

img{
  width: 400px;
  height: 400px;
}

p{
  font-size: 24px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  img {
    max-width: 100%; 
    height: auto; 
  }
}

@media screen and (min-width: 768px) {
  img {
    max-width: 100%; 
    height: auto; 
  }
}