.individual-recipe{
  margin-top: 24px;
   
}

.link-back-browse,
.link-back-browse:visited
{
    font-size: 16px;
    text-decoration: underline;
    color: black;
}

.navigate-back-browse{
    margin-right: 750px;
}

.img-and-cuisine-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 4px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 24px;
  max-width: 60%; 
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.recipe-img-container {
  max-width: 60%;
  height: auto;
}

.difficulty-and-cuisine-container{
  margin-top: 24px;
  display: inline-flex;
  justify-content:space-evenly
}
.diff-and-cuisine-box{
  flex-grow: 0.5; 
  margin: 0 5px; 
  text-align: center;
  border: 4px solid #ddd; 
  border-radius: 8px; 
  padding: 10px;
}

.time-container {
  display:inline-flex;

}

.time-box {
  flex-grow: 1; 
  margin: 0 5px; 
  text-align: center; 
  border: 4px solid #ddd; 
  border-radius: 8px;
  padding: 10px; 
}
  
.time-box h4 {
  margin: 0; 
}


.ingredient-container,
.direction-container {
  border: 4px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 24px;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ingredient-title,
.direction-title {
  font-size: 28px;
}

.favrorite-recipe-button{
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #e1f2f5;
  border-radius: 4px;
  background-color: #e1f2f5;
  color: #333;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.favrorite-recipe-button:hover{
  background-color: #ddf3e4;
  color: #555;
  border-color: #ddf3e4;
}

@media screen and (max-width: 768px) {
  .navigate-back-browse {
      margin-left: 50px; 
  }


  .time-container {
    flex-direction: column;
  }

  .time-box {
    margin: 0 auto 15px; /* Center the time boxes */
    
  }

  .ingredient-container,
  .direction-container {
    width: 80% !important; /* Make the containers even wider */
    max-width: none !important;
  }

  

}

@media screen and (min-width: 768px) {
  .navigate-back-browse {
      margin-left: 50px; 
  }
}